body
{
     background-image: url(../img/breakfast.jpg);
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh; 
	 font-family: sans-serif;
}
h1
{
   margin: 0;
   padding: 10px 20px;
   background: #000;
   color: #fff;
   font-size: 18px;
   letter-spacing: 2px;
   text-transform: uppercase;
}
